---
import Logo from "../assets/logo.svg";
---

<header
  class="h-16 flex items-center px-2 md:px-6 border border-gray-200 fixed w-full bg-white"
>
  <a href="https://www.kotohiro.com" target="_blank" rel="noreferrer noopener">
    <img src={Logo.src} alt="logo" class="h-10" />
  </a>
</header>
